@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
body {
  color: #fff;
  font-family: "Montserrat";
}

.body--active {
  overflow: hidden;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  transition: all 0.5s;
}

.main.main--active {
  filter: blur(3px);
}

@font-face {
  font-family: "Open sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular") url(../../fonts/OpenSans-Regular.woff2) format("woff2"), url(../../fonts/OpenSans-Regular.woff) format("woff");
}
@font-face {
  font-family: "Open sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Open sans Bold"), local("OpenSans-Bold") url(../../fonts/OpenSans-Bold.woff2) format("woff2"), url(../../fonts/OpenSans-Bold.woff) format("woff");
}
.header {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index: 10;
}
.header .nav {
  padding: 20px 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.header .nav .logo {
  margin-right: 60px;
  font-family: "Montserrat";
  color: #FFF;
  text-align: center;
  font-weight: 700;
  line-height: 110%;
  font-size: 32px;
  position: relative;
  z-index: 8;
}
@media (max-width: 500px) {
  .header .nav .logo {
    margin-right: 30px;
  }
}
.header .nav .logo.logo--active {
  color: #000;
}
.header .nav .logo span {
  background: rgba(18, 7, 78, 0.5725490196);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: -1;
  right: 13px;
  top: 8px;
}
.header .nav .menu {
  display: flex;
  gap: 30px;
  flex: 2;
}
@media (max-width: 1000px) {
  .header .nav .menu {
    flex-direction: column;
    background: #fff;
    color: #000;
    position: absolute;
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 15px;
    transform: translateY(-100%);
    transition: all 0.4s;
  }
  .header .nav .menu.menu--active {
    transform: translateY(0);
  }
  .header .nav .menu .menu__list:first-child {
    margin-top: 20%;
  }
}
.header .nav .menu .menu__link {
  transition: transform 0.3s;
  position: relative;
  padding: 5px;
  font-size: 24px;
}
.header .nav .menu .menu__link::after {
  content: "";
  width: 70%;
  display: block;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all 0.3s;
}
@media (max-width: 1000px) {
  .header .nav .menu .menu__link::after {
    background: #000;
  }
}
.header .nav .menu .menu__link:hover::after {
  opacity: 1;
}
@media (max-width: 800px) {
  .header .nav .menu .menu__link:hover {
    transform: translate(7px);
  }
}
.header .nav .menu .menu__link.menu__link--active::after {
  opacity: 1;
}
.header .nav .menu__open {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px;
  letter-spacing: 1px;
  background-color: rgba(11, 9, 6, 0.436);
  border-radius: 20px;
  display: none;
}
@media (max-width: 1000px) {
  .header .nav .menu__open {
    display: flex;
  }
}
.header .nav .menu__close {
  display: none;
}
@media (max-width: 800px) {
  .header .nav .menu__close {
    display: block;
    width: 20px;
    height: 20px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    position: absolute;
    bottom: 2%;
    right: 0;
    left: 0;
    margin: auto;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .header .nav .menu__close.menu__close--active {
    transform: rotate(180deg);
  }
}
.header .nav .social-box {
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  .header .nav .social-box {
    display: none;
  }
}
.header .nav .social-box .nav__phone {
  margin-right: 20px;
}
.header .nav .social-box .nav__social {
  display: none;
}
.header .nav .social-box .nav__social.socail--active {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .nav .social-box .nav__button {
  width: 150px;
  font-size: 14px;
  font-weight: 600;
  line-height: 142%;
  display: block;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  color: inherit;
  padding: 8px 15px;
  transition: all 0.3s;
}
.header .nav .social-box .nav__button:hover {
  background: #ffffff;
  color: #000;
}
.header .nav .social-box .nav__button.hidden {
  display: none;
}

.slider {
  margin-bottom: 100px;
}
@media (max-width: 1000px) {
  .slider {
    margin-bottom: 50px;
  }
}
.slider .swiper .swiper-slide {
  position: relative;
  height: 80vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1000px) {
  .slider .swiper .swiper-slide {
    height: 100vh;
  }
}
.slider .swiper .swiper-slide::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.3137254902);
  z-index: 8;
}

.top {
  position: absolute;
  top: 300px;
  z-index: 8;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
@media (max-width: 800px) {
  .top {
    top: 200px;
  }
}
.top h1 {
  font-family: "Open sans", sans-serif;
  color: #FFF;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.96px;
  margin-bottom: 10px;
}
@media (max-width: 800px) {
  .top h1 {
    font-size: 60px;
  }
}
.top h1 span {
  color: coral;
}
.top p {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.8000000119;
  margin-bottom: 60px;
}
@media (max-width: 800px) {
  .top p {
    font-size: 20px;
  }
}
.top .top__social {
  display: none;
}
.top .top__social.social--active {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.top .top__social a {
  padding: 10px;
}
.top .top__button {
  width: 250px;
  font-size: 14px;
  font-weight: 600;
  line-height: 142%;
  display: block;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  color: inherit;
  margin: 0 auto;
  padding: 20px;
  display: none;
  max-width: 100%;
}
@media (max-width: 1000px) {
  .top .top__button {
    display: block;
    font-size: 22px;
    background: #fff;
    color: #000;
  }
}
.top .top__button.hidden {
  display: none;
}

.info {
  margin-bottom: 100px;
  position: relative;
}
@media (max-width: 1000px) {
  .info {
    margin-bottom: 50px;
  }
}
.info .about {
  color: #000;
}
.info .about .about__decor {
  color: #F5F5F5;
  font-size: 170px;
  font-weight: 700;
  line-height: 119.7%;
  text-transform: uppercase;
  position: absolute;
  top: 16%;
  right: 4%;
  z-index: -1;
}
@media (max-width: 800px) {
  .info .about .about__decor {
    display: none;
  }
}
.info .about .about__hedaer {
  color: #C4C4C4;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 12px;
  text-transform: uppercase;
  display: block;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  .info .about .about__hedaer {
    letter-spacing: 6px;
    font-size: 18px;
  }
}
.info .about .about__title {
  font-family: "Open sans", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 129%;
  text-transform: uppercase;
  max-width: 850px;
  margin-bottom: 50px;
}
@media (max-width: 800px) {
  .info .about .about__title {
    font-size: 45px;
  }
}
@media (max-width: 500px) {
  .info .about .about__title {
    font-size: 30px;
  }
}
.info .about .about__title span {
  color: brown;
}
.info .about .about__inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .info .about .about__inner {
    flex-direction: column;
  }
}
.info .about .about__inner .about__menu {
  flex-basis: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1000px) {
  .info .about .about__inner .about__menu {
    flex-basis: 0;
    margin-bottom: 50px;
  }
}
.info .about .about__inner .about__menu p {
  font-size: 36px;
  font-weight: 700;
  font-family: "Open sans", sans-serif;
}
@media (max-width: 800px) {
  .info .about .about__inner .about__menu p {
    font-size: 27px;
  }
}
.info .about .about__inner .about__menu .about__list .about__link {
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s;
}
.info .about .about__inner .about__menu .about__list .about__link:hover {
  color: blueviolet;
  transform: translate(3px, -5px);
}
.info .about .about__inner .about__slider {
  max-width: 600px;
}
.info .about .about__inner .about__slider img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}

.tures {
  margin-bottom: 100px;
  color: #000;
}
.tures .tures__header {
  color: #C4C4C4;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 12px;
  text-transform: uppercase;
  display: block;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  .tures .tures__header {
    font-size: 18px;
    letter-spacing: 10px;
  }
}
.tures .tures__title {
  font-size: 64px;
  font-style: normal;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  line-height: 109%;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.tures .tures__title span {
  color: brown;
}
@media (max-width: 500px) {
  .tures .tures__title {
    font-size: 30px;
  }
}
.tures .tures__cards-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 50px;
}
.tures .tures__cards-menu .tures__cards-list {
  box-shadow: #000 5px 5px 5px 5px;
  max-width: 400px;
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
}
.tures .tures__cards-menu .tures__cards-list:hover {
  transform: translate(3px, -2px);
  box-shadow: 5px 10px 35px 15px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1000px) {
  .tures .tures__cards-menu .tures__cards-list:hover {
    transform: none;
  }
}
.tures .tures__cards-menu .tures__cards-list img {
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.tures .tures__cards-menu .tures__cards-list .tures__cards-content {
  padding: 10px;
}
.tures .tures__cards-menu .tures__cards-list .tures__cards-content h4 {
  font-size: 28px;
  font-weight: 400;
  color: coral;
  margin-bottom: 10px;
  font-family: "Open sans", sans-serif;
}
.tures .tures__cards-menu .tures__cards-list .tures__cards-content p {
  max-width: 400px;
  margin-bottom: 10px;
}
.tures .tures__more {
  display: flex;
  justify-content: end;
}
.tures .tures__more a {
  align-items: center;
  display: flex;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.3s;
}
.tures .tures__more a:hover {
  color: blueviolet;
}

.apartaments {
  color: #000;
  margin-bottom: 100px;
}
.apartaments .apartaments__header {
  color: #C4C4C4;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 12px;
  text-transform: uppercase;
  display: block;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  .apartaments .apartaments__header {
    font-size: 18px;
    letter-spacing: 10px;
  }
}
.apartaments .apartaments__title {
  font-size: 64px;
  font-style: normal;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  line-height: 109%;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.apartaments .apartaments__title span {
  color: brown;
}
@media (max-width: 500px) {
  .apartaments .apartaments__title {
    font-size: 30px;
  }
}
.apartaments .apartaments__menu {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.apartaments .apartaments__menu .apartaments__list {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  max-width: 380px;
  position: relative;
  z-index: 1;
  display: block;
  position: relative;
}
.apartaments .apartaments__menu .apartaments__list .apartaments__animation {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.3s;
  z-index: 10;
}
.apartaments .apartaments__menu .apartaments__list .apartaments__animation p {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #fff;
  padding: 10px 25px;
  border-radius: 50px;
  color: #000;
  max-width: -moz-max-content;
  max-width: max-content;
  transition: all 0.3s;
  transform: translateX(-20px);
}
.apartaments .apartaments__menu .apartaments__list .apartaments__animation .first-dec {
  display: block;
  width: 0px;
  height: 0px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  position: absolute;
  right: 5%;
  top: 3%;
  z-index: 10;
  transition: all 0.3s;
}
.apartaments .apartaments__menu .apartaments__list .apartaments__animation .second-dec {
  display: block;
  width: 0px;
  height: 0px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  left: 5%;
  bottom: 3%;
  z-index: 10;
  transition: all 0.3s;
}
.apartaments .apartaments__menu .apartaments__list:hover .apartaments__animation {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7333333333);
}
.apartaments .apartaments__menu .apartaments__list:hover .apartaments__animation p {
  transform: translate(0);
}
.apartaments .apartaments__menu .apartaments__list:hover .apartaments__animation span {
  width: 50px;
  height: 50px;
}
.apartaments .apartaments__menu .apartaments__list::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1529411765);
  transition: all 0.3s;
}
.apartaments .apartaments__menu .apartaments__list .apartaments__list-inner {
  position: relative;
  z-index: 8;
  bottom: 10px;
  display: block;
  padding: 20px;
  padding-top: 90%;
}
.apartaments .apartaments__menu .apartaments__list .apartaments__list-inner h3 {
  font-family: "Roboto";
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  line-height: 119.7%;
  margin-bottom: 10px;
}
.apartaments .apartaments__menu .apartaments__list .apartaments__list-inner span {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 119.7%;
  margin-bottom: 10px;
  display: block;
}
.apartaments .apartaments__menu .apartaments__list .apartaments__list-inner .price-box {
  display: flex;
  gap: 20px;
  align-items: center;
}
.apartaments .apartaments__menu .apartaments__list .apartaments__list-inner .price-box .price-text {
  background: #fff;
  padding: 10px 15px;
  font-weight: 700;
  color: #000;
}
.apartaments .apartaments__menu .apartaments__list .apartaments__list-inner .price-box ul {
  display: flex;
  gap: 10px;
}

.transport {
  color: #000;
  margin-bottom: 100px;
}
.transport .transport__header {
  color: #C4C4C4;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 12px;
  text-transform: uppercase;
  display: block;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  .transport .transport__header {
    font-size: 18px;
    letter-spacing: 10px;
  }
}
.transport .transport__title {
  font-size: 64px;
  font-style: normal;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  line-height: 109%;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-bottom: 50px;
}
.transport .transport__title span {
  color: brown;
}
@media (max-width: 500px) {
  .transport .transport__title {
    font-size: 30px;
  }
}
.transport .transport__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.transport .transport__inner img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.transport .transport__inner .transport-box h4 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
  font-family: "Open sans", sans-serif;
}

.footer {
  background: #232323;
}
.footer .footer__inner {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 60px;
}
.footer .footer__inner .logo {
  margin-right: 60px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 700;
  line-height: 110%;
  font-size: 32px;
  margin-bottom: 20px;
}
.footer .footer__inner .footer__logo-box .footer__social {
  display: flex;
  gap: 15px;
}
.footer .footer__inner .footer__number,
.footer .footer__inner .footer__link-box,
.footer .footer__inner .footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  transition: all 0.2s;
}
.footer .footer__inner .footer__number li:first-child,
.footer .footer__inner .footer__link-box li:first-child,
.footer .footer__inner .footer__menu li:first-child {
  margin-bottom: 20px;
  color: chocolate;
  font-weight: 500;
  font-size: 18px;
}
.footer .footer__inner .footer__number li + li,
.footer .footer__inner .footer__link-box li + li,
.footer .footer__inner .footer__menu li + li {
  margin-bottom: 15px;
}
.footer .footer__inner .footer__number a:hover,
.footer .footer__inner .footer__link-box a:hover,
.footer .footer__inner .footer__menu a:hover {
  color: blueviolet;
}/*# sourceMappingURL=style.css.map */