body{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    overflow-x: hidden;
}

.body--active{
    overflow: hidden;
}



.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transition: all 0.2s;
        opacity: 0;
        z-index: -1;
    }
}

.tures__wrapper.active{
    position: relative;
    &::before{
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #00000099;
        z-index: 5;
        filter: blur(5px);
    }
}

.wrapper.wrapper--active{
    .main{
        filter: blur(5px);
    }
    &::after{
        z-index: 8;
        display: block;
        opacity: 1;
    }
}




.hidden{
    opacity: 0;
    transition: all 1.2s;
}

.left{
    transform: translateX(-20px);
    transition: all 1.2s;
    opacity: 0;
}

.right{
    transform: translateX(20px);
    opacity: 0;
    transition: all 1.2s;
}



.active{
    opacity: 1;
    transform: translate(0);
}