body{
    color: #fff;
    font-family: 'Montserrat';
}

.body--active{
    overflow: hidden;
}



.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}



.main{
    transition: all 0.5s;
}

.main.main--active{ 
    filter: blur(3px);

}