@font-face {
    font-family: 'Open sans';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:local('Open Sans Regular'), 
        local('OpenSans-Regular')
        url(../../fonts/OpenSans-Regular.woff2) format("woff2"),
        url(../../fonts/OpenSans-Regular.woff) format("woff");
}

@font-face {
    font-family: 'Open sans';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src:local('Open sans Bold'), 
        local('OpenSans-Bold')
        url(../../fonts/OpenSans-Bold.woff2) format("woff2"),
        url(../../fonts/OpenSans-Bold.woff) format("woff");
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);