.appartaments__info{
    margin-bottom: 30px;
    .apartaments__info-title{
        color: #153657;
        font-family: $openSans;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 129%;
        text-transform: uppercase;
        max-width: 850px;
        @include media($m800){
            font-size: 24px;
        }
        
        span{
            color: brown;
        }
        margin-bottom: 20px;
    }

    
}



.apartaments__info-slider{
    .apartaments__info-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media($m800){
            margin-bottom: 10px;
        }

        @include media($m800){
            flex-direction: column;
            align-items: start;
        }

        a{
            color: darkgoldenrod;
        }

        .apartaments__info-textbox{
            display: flex;
            align-items: center;
            gap: 10px;

            span{
                color:#000;
                font-weight: 500;
                font-size: 18px;
            }
        }
    }



    .splide{
        margin: 0 auto;
        margin-bottom: 10px;

    

        .splide__slide{

            img{
                width: 100%;
                object-fit:cover;

                @include media($m800){
                    margin: auto;
                    height: 100%;
                }
            }
        }
    }


    #splider1{
       
        .splide__slide img{
            border-radius: 25px;
        }

        .splide__arrow{
            background-color: #53454894;
            width: 70px;
            height: 70px;
            @include media($m800){
                width: 40px;
                height: 40px;
            }

            svg{
                width: 30px;
                height: 30px;
                fill: #fff;
            }
        }
    
    }

    .nav__social{
        display: block;


    }
 


    #slider2{
        li{
            border-radius: 20px;
        }
        li.is-active{
            border: 2px solid #000;
        }
    }
   
}