.footer{
    color: #fff;
    background: #232323;
 
    z-index: 10;
    .footer__inner{
        display: grid;
        grid-template-columns: repeat(4, auto);
        padding: 60px;

        @include media($m1000){
            grid-template-columns: repeat(2, auto);
            gap: 15px;
        }

        @include media($m800){
            grid-template-columns: repeat(1, auto);
            gap: 15px;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 40px;
        }

        .footer__logo-box{
            .logo{
                color: rgb(255, 255, 255);
                text-align: center;
                font-weight: 700;
                line-height: 110%;
                font-size: 34px;
                margin-bottom: 20px;
            }
           .footer__social{
            a + a{
                margin-left: 15px;
            }
           }
        }

        .footer__number,
        .footer__link-box,
        .footer__menu{
            display: flex;
            flex-direction: column;
            justify-content: start;
            transition: all 0.2s;
            font-size: 18px;
            li:first-child{
                margin-bottom: 20px;
                color:chocolate;
                font-weight: 500;
                font-size: 20px;
            }
            
            li + li{
                margin-bottom: 15px;
            }
            
           a:hover{
            color: blueviolet;
           }
        }

        
    }
}