.header{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin: 0 auto;
    z-index: 10;
    color: #fff;
    transition: all 0.2s;

    .nav{
        padding: 20px 0;
        align-items: center;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        min-height: 80px;
        
        .logo{
            margin-right: 60px;
            font-family: 'Montserrat';
            color: #FFF;
            text-align: center;
            font-weight: 700;
            line-height: 110%;
            font-size: 32px;
            @include media($m500){
                margin-right: 30px;
            }
             position: relative;
             z-index: 8;

          
            span{
                background: #12074e92;
                border-radius: 50%;
                width:25px;
                height: 25px;
                position: absolute;
                z-index: -1;
                right: 13px;
                top: 8px;

               
            }
        }


        .menu{
            display: flex;
            align-items: center;
            gap: 15px;
            flex: 2;
            z-index: 8;

            @include media($m1100){
                align-items: start;

                flex-direction: column;
                background: #fff;
                color: #000;
                position: fixed;
                width: 100%;
                height: max-content;
                left: 0;
                right: 0;
                top: 0;
                padding: 0 15px;


                transform: translateY(-100%);
                transition: all 0.4s;

                &.menu--active{
                    transform: translateY(0);

                    .logo{
                        margin-right: 0;
                    }
                }
                .menu__list{
                    &:first-child{
                        margin-top: 20%;
                    }
                }
            }
           
            .logo{
                color: #000;
                padding-top: 5px;
                display: none;
               

                @include media($m1100){
                    display: flex;
                }
            }

           

          

            .menu__link{
                transition: transform 0.3s;
                position: relative;
                padding: 5px;
                font-size: 20px;

               

                &::after{
                    content: "";
                    width: 70%;
                    display: block;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    bottom: 0;
                    opacity: 0;
                    transition: all 0.3s;
                    @include media($m1100){
                        background: #000;
                    }
                }
                &:hover::after{
                    opacity: 1;
                }

                @include media($m1100){
                    &:hover{
                        transform: translate(7px);
                    }
                }
              
            }


           
        }



        
        .menu__open{
           
            width: 40px;
            height: 20px;
            position: fixed;
            right: 10px;
            color: #fff;
            text-transform: uppercase;
            display: none;
            @include media($m1100){
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            span{
                width: 100%;
                height: 4px;
                background: #0c0707;
            }
        }

        .menu__close{
            display: none;

            @include media($m1100){
                display: block;
                width: 20px;
                height: 20px;
                border-right: 2px solid #000;
                border-bottom: 2px solid #000;
                position: absolute;
                bottom: 2%;
                right: 0;
                left: 0;
                margin: auto;

                transform: rotate(45deg);
                cursor: pointer;


                &.menu__close--active{
                    transform: rotate(180deg);
                }
            }
        }

        
        .social-box{
            display: flex;
            align-items: center;

            @include media($m1100){
                display: none;
            }

          .nav__phone{
            display: flex;
            align-items: center;
            .nav__phone-link{
                display: flex;
                align-items: center;
                svg{
                    path{ fill: #fff;}
                }
            }
          }
            
            .nav__social{
                display: none;
                a{
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg{
                        width: 25px;
                        height:25px;
                    }
                }

                a:nth-child(1){
                    background: #2F89CE;
                }

                a:nth-child(2){
                    background: #48C95F;
                }

                a:nth-child(3){
                    background: linear-gradient(#EEA054, #D64763, #B62A99);
                }
            }

            .nav__social.socail--active{
                display: flex;
                align-items: center;
                gap: 15px;
            }

            .nav__button{
               @include button(150px);
                padding: 8px 15px;
                transition: all 0.3s;
                margin-left: 20px;

                &:hover{
                    background: #ffffff;
                    color: #000;
                }
            }

            .nav__button.hidden{
                display: none;
            }
        }


    }



    &.header.header--active{
        position: fixed;
        background: #ffffff;
        color:#000;
        box-shadow: 0 3px 5px rgba(8, 14, 23, 0.3);
        @include media($m1100){
            background: transparent;
            position: absolute;
        }


        .logo{
            color: #000;
        }
        

        .menu{
            .menu__link::after{
                background: #000;
            }
        }


        .nav{

            .nav__phone-link{
                display: flex;
                align-items: center;
                svg{
                    path{ fill: #000;}
                }
            }

            .nav__button{
                border: 1px solid #000;

                &:hover{
                    background: #000;
                    color: #fff;
                }
            }

        }
      

    }
}




.header.header__tures,
.header.header__apartaments{
    position: static;
    z-index: 10;
    background: #ffffffe5;
    box-shadow: 0 3px 5px rgba(8, 14, 23, 0.3);
    color: #000;
    min-height: 80px;
    margin-bottom: 50px;
    .nav{

        .menu{

           @include media($m1100){
            display: flex;
            flex-direction: row;
            position: static;
            transform: initial;
            background:transparent;
            height: auto;
            padding: 0;
            transition: none;
            color: #000000;
            width: auto;

            }

            .menu__list:first-child{
                @include media($m1100){
                    margin-top: 0;
                }
              
            }

            .menu__link{
                cursor: pointer;
                @include media($m1100){
                    font-size: 22px;
                    padding: 10px;
                }
                &::after{
                    background: #000000;
                }
            }

        }


        .social-box{

            .nav__button{
                border: 1px solid #000;

                &:hover{
                    background: #000;
                    color: #fff;
                }
            }

            .nav__social.socail--active{
                margin-left: 20px;
            }
           
            @include media($m1100){
                display: flex;
                flex-direction: column;
                gap: 10px;

                .nav__phone{
                    display: none;
                }

            }


        }

        .menu__open{
            display: none;
        }
    }
}

.header.header__tures{
   margin-bottom: 0;
}