.info{
    margin-bottom: 100px;
    position: relative;
    @include media($m1100){
        margin-bottom: 50px;
    }



    .about{
        color: #000;
        .about__decor{
            color: #F5F5F5;
            font-size: 170px;
            font-weight: 700;
            line-height: 119.7%; 
            text-transform: uppercase;
            position: absolute;
            top: 6%;
            right: 4%;
            z-index: -1;

            @include media($m800){
                display: none;
            }
        }

        .about__hedaer{
            color: #C4C4C4;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 12px;
            text-transform: uppercase;
            display: block;
            max-width: max-content;
            margin-bottom: 15px;
            
            @include media($m500){
                letter-spacing: 6px;
                font-size: 18px;
            }
          
        }

        .about__title{
            font-family: $openSans;

            font-style: normal;
            line-height: 145%;
            text-transform: uppercase;
            max-width: 1000px;
            margin-bottom: 30px;

            font-size: 48px;
            font-weight: 800;

            @include media($m800){
                font-size: 32px;
                margin-bottom: 0px;
                max-width: 100%;
            }
           
            span{
                color: brown;
                text-transform: initial;
            }
        }
        .about__inner{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            
            .about__menu{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                justify-content: center;
                gap: 80px;
                margin-bottom: 50px;
                overflow-x: hidden;
                @include media($m800){
                    flex-basis: 0;
                    grid-template-columns: repeat(1, 1fr);
                }
               
                
                
                .about__list{
                    max-width: 500px;
                    justify-self: center;
                    @include media($m800){
                        padding-top: 0;
                    }

                    img{
                        margin-bottom: 25px;
                        max-width: 100%;
                    }

                    h3{
                        font-size: 26px;
                        margin-bottom: 10px;
                        
                        @include media($m500){
                            font-size: 20px;
                        }
                    }

                    p{
                        font-size: 20px;
                        font-weight: 400;
                        font-family: $openSans;
                        line-height: 145%;
    
                        @include media($m500){
                            font-size: 18px;
                            justify-self: end;
                        }
                    }
                   
                }

                .about__list:first-child{
                    padding-top: 70px;
                }
                .about__list:last-child{
                    padding-top: 70px;
                }
             
               
            }
            .about__slider{
              
                img{
                    object-fit: cover;
                    border-radius: 50px;
                    width: 100%;
                }
            }
            
        }
    }

    
    .splide{
        
        .splide__arrow{
            background-color: #53454894;
            width: 70px;
            height: 70px;
            @include media($m800){
                width: 40px;
                height: 40px;
            }

            svg{
                width: 30px;
                height: 30px;
                fill: #fff;
            }
        }
    }
}