.reviews{
    background: #171717;
    color: #fff;
    padding: 100px 0;
    text-align: center;
    .reviews__header{
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 12px;
        text-transform: uppercase;
        display: block;
        max-width: max-content;
        margin-bottom: 15px;
        opacity: 0.6;
        @include media($m500){
            font-size: 18px;
            letter-spacing: 10px;
        }
    }

    .reviews__title{
        font-size: 64px;
        font-style: normal;
        font-family: $openSans;
        font-weight: 700;
        line-height: 109%;
        text-transform: uppercase;
        span{
            color:cornflowerblue;
        }
        margin-bottom: 50px;

        @include media($m800){
            font-size: 50px;
        }
        
        @include media($m500){
            font-size: 30px;
        }

       
    }


    .reviews__inner{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            object-fit: cover;
            max-width: 100%;
        }

        .splide{
            .splide__arrow{
                width: 70px;
                height: 70px;
                svg{
                    width: 40px;
                    height: 40px;
                }
            }


        }
       


    }
}