
.slider{
    margin-bottom: 50px;
    @include media($m1000){
        margin-bottom: 50px;
    }
    .swiper{
        .swiper-slide{
            position: relative;
            height: 80vh;
            width: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            @include media($m1000){
                height: 100dvh;
            }
        
            &::after{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                margin: auto;
                background: #00000050;
                z-index: 8;
            }   
        }
    }
}