.tures{
    margin-bottom: 100px;
    color: #000;
    position: relative;

    .splide{
        .splide__arrow{
            background-color: #53454894;
            width: 40px;
            height: 40px;
          

            svg{
                width: 30px;
                height: 30px;
                fill: #fff;
            }
        }
    }

  
   
  

    .tures__decor{
        color: #F5F5F5;
        font-size: 170px;
        font-weight: 700;
        line-height: 119.7%; 
        text-transform: uppercase;
        position: absolute;
        top: 4%;
        left: 15%;
        z-index: -1;

        @include media($m800){
            display: none;
        }
    }


    .tures__header{
        color: #C4C4C4;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 12px;
        text-transform: uppercase;
        display: block;
        max-width: max-content;
        margin-bottom: 15px;

        @include media($m500){
            font-size: 18px;
            letter-spacing: 10px;
        }
    }

    .tures__title{
        font-size: 64px;
        font-style: normal;
        font-family: $openSans;
        font-weight: 700;
        line-height: 109%;
        text-transform: uppercase;
        margin-bottom: 50px;

        span{
            color: brown;
        }

        @include media($m800){
            font-size: 50px;
        }
        @include media($m500){
            font-size: 30px;
        }
    }

    .tures__cards-menu{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        margin-bottom: 50px;

        .tures__cards-list{
            box-shadow: #000 5px 5px 5px 5px;
            max-width: 400px;
            box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            transition: all 0.3s;
            cursor: pointer;

            &:hover{
                transform: translate(3px, -2px);
                box-shadow: 5px 10px 35px 15px rgba(0, 0, 0, 0.25);
                @include media($m1000){
                    transform: none;
                }
            }


           

            img{
                object-fit: cover;
                max-width: 100%;
                border-radius: 20px 20px 0px 0px;
            }
            .tures__cards-content{
                display: flex;
                flex-direction: column;
                padding: 20px;
                max-height: 100%;
               h4{
                font-size: 28px;
                font-weight: 400;
                color: coral;
                font-family: $openSans;
                height: 70px;
                line-height: 110%;
               } 
               p{
                max-width: 400px;
                margin-bottom: 10px;
                min-height: 225px;
                line-height: 140%;
               }
               
              .tures__next{
                color: blueviolet;
                display: flex;
                justify-content: end;
              }
            }
        }
    }



    .tures__more{
        display: flex;
        justify-content: end;
        a{
            align-items: center;
            display: flex;
            font-size: 22px;
            font-weight: 700;
            text-decoration: underline;

            transition: all 0.3s;

            &:hover{
                color: blueviolet;
            }
        }
    }
}

