.tures{
    margin-bottom: 100px;
    color: #000;
    .tures__header{
        color: #C4C4C4;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 12px;
        text-transform: uppercase;
        display: block;
        max-width: max-content;
        margin-bottom: 15px;
    }

    .tures__title{
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 109%;
        text-transform: uppercase;
        span{
            color: brown;
        }
        margin-bottom: 50px;

        @include media($m500){
            font-size: 30px;
        }
    }

    .tures__cards-menu{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        margin-bottom: 50px;

        .tures__cards-list{
            box-shadow: #000 5px 5px 5px 5px;
            max-width: 400px;
            box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            transition: all 0.3s;
            cursor: pointer;

            &:hover{
                transform: translate(10px, -5px);
                box-shadow: 5px 10px 35px 15px rgba(0, 0, 0, 0.25);

            }
            img{
                margin-bottom: 20px;
                object-fit: cover;
                max-width: 100%;
                border-radius: 20px 20px 0px 0px;
            }
            .tures__cards-content{
                padding: 10px;
               h4{
                font-size: 28px;
                font-weight: 400;
                color: coral;
                margin-bottom: 10px;
               } 
               p{
                max-width: 400px;
                margin-bottom: 10px;
               }
            }
        }
    }



    .tures__more{
        display: flex;
        justify-content: end;
        a{
            align-items: center;
            display: flex;
            font-size: 22px;
            font-weight: 700;
            text-decoration: underline;

            transition: all 0.3s;

            &:hover{
                color: blueviolet;
            }
        }
    }
}